  <div class="container">
    <h2 class="text-center">All post with tag <i><%= @tag.name %></i></h2>
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8 col-md-offset-2">

        <br><br>
        <!-- Blog Post -->
        <% @tag.post.each do |post| %>
          <div class="card mb-4">
            <img class="card-img-top post-img" src=<%= post.img_url %> alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><%= post.title %></h2>
              <p class="card-text"><%= post.content[0, 300] %>...</p>
              <%= link_to "Read More", post, class: "btn btn-primary" %>
            </div>
            <div class="card-footer text-muted">
              Posted on <%= post.created_at %> by
              <% user = User.find_by(id: post.user_id) %>
              <%= link_to user.name, user %>
            </div>
          </div>
          <hr>
        <% end %>

      </div>

  </div>