<%= form_for(@post) do |form| %>
  <% if(@post.errors.any?) %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@post.errors.count, "error") %>
      </div>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, {}, { class: "form-control" } %>
  </div>

  <br>

  <div class="field">
    <%= form.submit "Create", class: "btn btn-primary" %>
  </div>

<% end %>