<%= form_for(post, url: form_url) do |form| %>
  <% if(post.errors.any?) %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(post.errors.count, "error") %>
      </div>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :all_tags %>
    <%= form.text_field :all_tags, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :img_url, "Image Url" %>
    <%= form.text_field :img_url, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <br>

  <div class="field">
    <%= form.submit button_text, class: "btn btn-primary" %>
  </div>

<% end %>
