<div class="card mb-4">
  <h2 class="card-title"><%= post.title %></h2>
  <img class="card-img-top post-img img-responsive" src=<%= post.img_url %> alt="Card image cap">
  <br>
  <div class="card-body">
    <p class="card-text"><%= post.content[0, 300] %>...</p>
    <%= link_to "Read more", post, class: "btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
    Posted <%= time_ago_in_words post.created_at %> ago by
    <% user = @users.find_by(id: post.user_id) %>
    <%= link_to user.name, user %>
  </div>
</div>

