  <body>
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-md-8 col-md-offset-2">

          <!-- Title -->
          <h1 class="mt-4"><%= @post.title %></h1>

          <!-- Author -->
          <i class="lead">
            by
            <%= link_to @user.name, @user %>
          </i>
          <br>
          <div class="all_tag">
            <i>Tags: </i>
            <% @post.tag.each do |p_tag| %>
              <i><%= link_to p_tag.name, p_tag %> </i>
            <% end %>
          </div>
          <% if logged_in? %>
            <% if (@post.user_id == current_user.id) || current_user.admin? %>
              <hr>
                <%= link_to "edit", edit_post_path(@post), class: "btn btn-warning" %>
                <%= link_to "delete", @post, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-danger" %>
            <% end %>
          <% end %>
          <hr>

          <!-- Date/Time -->
          <p>Posted on <%= @post.created_at %></p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded post-img" src=<%= @post.img_url %> alt="">

          <hr>

          <!-- Post Content -->

          <p><%= @post.content %></p>

          <hr>

          <!-- Comments Form -->
          <% if logged_in? %>
            <% if(@post.errors.any?) %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  The form contains <%= pluralize(@post.errors.count, "error") %>
                </div>
                <ul>
                  <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="card my-4">
              <h5 class="card-header">Leave a Comment:</h5>
              <div class="card-body">
                <%= form_for(@comment, remote: true) do |f| %>

                  <div class="form-group">
                    <%= f.text_area :content, class: "form-control", rows: 3 %>
                  </div>

                  <%= f.hidden_field :post_id, value: @post.id %>

                  <div class="form-group">
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>


          <h3>All comment: </h3>
          <!-- Single Comment -->
          <div id="comments">
            <% @comment_arr.each do |comment| %>
              <% user = User.find_by(id: comment.user_id) %>
              <div id="<%= comment.id %>">
                <div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src=<%= user.avatar_url %> alt="" style="height: 50px; width: 50px">
                  <div class="media-body">
                    <h5 class="mt-0"><%= user.name %></h5>
                    <%= comment.content %>
                  </div>
                </div>

                <% if logged_in? %>
                  <% if (@post.user_id == current_user.id) || current_user.admin? %>
                    <li class="dropdown pull-right">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><%= link_to "Delete", comment, method: :delete,
                                    data: { confirm: "You sure?", remote: true } %></li>
                        <li><%= link_to "Edit", edit_comment_path(comment), remote: true %></li>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
                <hr>
              </div>
            <% end %>
          </div>


        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
